body{
    margin: 4em;
}

.container{
    display: flex;
    flex-direction: column;
}



header{
    flex: 1;
    text-align: center;
}

.alphabet{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, minmax(20px, 1fr));
    gap: 2px;
}

.text-area{
    flex: 1;
    margin-top: 1em;
    width: 100%;
}

.text-area textarea{
    width: 100% ;
}



.symbol{
    border: .1em solid #aaaaaa;
    border-radius: .4em ;
    text-align: center;
    box-sizing: content-box;
}

.symbol:hover{
    border: .1em solid #555555;
}
