body{
    margin: 4em;
}

.container{
    display: flex;
    flex-direction: column;
}



header{
    flex: 1;
    text-align: center;
}

.alphabet{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
}

.text-area{
    flex: 1;
    margin-top: 1em;
}



.symbol{
    border: .1em solid black;
    border-radius: .8em ;
    text-align: center;
}