body{
    margin: 4em;
}


.alphabet{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
}

.header h1{
    text-align: center;
}

.symbol{
    border: .1em solid black;
    border-radius: .8em ;
    text-align: center;
}