.gallery{
    &-image{
            width: 100%;
            height: 100%;
        .image{
            width: 100%;
            height: 100%;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-description{
        .title{
            @include font(32px, 700, 1.6);
            margin-bottom: 15px;
        }
        .text{
            @include font(18px, 400, 1.4);
        }
        .action{
            margin-top: 20px;
            .btn{
                @include font(24px, 400, 1.4);
                height: 55px;
                line-height: 55px;
                border-radius: 100px;
                padding: 0 15px;
                background: linear-gradient(#e66465, #9198e5);
                color: white;
                text-align: center;
            }
        }
    }

    &-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        &-left{
            &-top{
                grid-row: 1/2;
                grid-column: 1/3;
            }

            &-bottom{
                grid-row: 2/4;
                grid-column: 1/3;
            }
        }
        &-right{
            &-top{
                grid-row: 1/3;
                grid-column: 3/5;
            }
            &-bottom{
                &-left{
                    grid-row: 3/4;
                    grid-column: 3/4;
                }
                &-right{
                    grid-row: 3/4;
                    grid-column: 4/5;
                }
            }
        }
    }

    &-description{
        min-width: 540px;
    }
}

@media (max-width: 768px){
    
}

