.gallery{
    &-image{
        .image{
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        &-left{
            &-top{
                grid-row: 1/2;
                grid-column: 1/3;
            }

            &-bottom{
                grid-row: 2/4;
                grid-column: 1/3;
            }
        }
        &-right{
            &-top{
                grid-row: 1/3;
                grid-column: 3/5;
            }
            &-bottom{
                &-left{
                    grid-row: 3/4;
                    grid-column: 3/4;
                }
                &-right{
                    grid-row: 
                }
            }
        }
    }

    &-description{
        width: 540px;
        height: 240px;
        background-color: aquamarine;
    }
}

