.gallery{
    &-image{
            width: 100%;
            height: 100%;
        .image{
            width: 100%;
            height: 100%;
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-description{
        .title{
            @include font(32px, 700, 1.6);
            margin-bottom: 15px;
        }
        .text{}
        .action{
            .btn{

            }
        }
    }

    &-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        &-left{
            &-top{
                grid-row: 1/2;
                grid-column: 1/3;
            }

            &-bottom{
                grid-row: 2/4;
                grid-column: 1/3;
            }
        }
        &-right{
            &-top{
                grid-row: 1/3;
                grid-column: 3/5;
            }
            &-bottom{
                &-left{
                    grid-row: 3/4;
                    grid-column: 3/4;
                }
                &-right{
                    grid-row: 3/4;
                    grid-column: 4/5;
                }
            }
        }
    }

    &-description{
        width: 540px;
        background-color: aquamarine;
    }
}

