.gallery{
    &-image{
        .image{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-container{
        display: grid;
        grid-template-columns: ;
    }
}

