.gallery{
    &-image{
        .image{
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &-top{
            &-left{
                grid-row: 1/2;
                grid-column: 1/3;
            }
            &-right{

            }
        }
    }

    &-description{
        width: 540px;
        height: 240px;
        background-color: aquamarine;
    }
}

