.container{
    width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: scroll;
}

.original-images{
    @include flex(null, null, nowrap);
}

.grid{
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(4, 500px);

    .image{
        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .top-left{
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }

    .bottom-left{
        grid-row: 3 / 5;
        grid-column: 1 / 3;
    }

    .right{
        grid-row: 1 / 5;
        grid-column: 3 / 5;
    }
}

@media (max-width: 1200px){
    .container{
        width: 960px;
    }
}
