table{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption{
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot{
    background-color: rgb(228 240 245);
}