
$primary-color: #F3F6F9;
$secondary-color: #242424;
$accent-color: #B71B34;
$card-border: #d1d3da;

$mobile-bp: 768px;
$desktop-bp: 992px;


// $breakpoints: (
//   mobile: 576px,
//   tablet: 768px,
//   desktop: 992px
// );