@import url('colors.css');

body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--google-white);
}


p {
    background: var(--google-blue);
    border: 3px solid var(--google-black);
    padding: 10px;
    margin: 10px;
}


span {
    background: var(--google-red);
    border: 1px solid var(--google-black);
}






