@import url('colors.css');

body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    background-color: var(--anderson-darlington-white);
}


p {
    background: aqua;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

span {
    background: red;
    border: 1px solid black;
}


