@import url('colors.css');

body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--google-white);

    width: 500px;
    height: 1400px;
    margin: 0 auto;
}

h1{
    position: fixed;
    top: 0;
    width: 500px;
    margin-top: 0;
    background: var(--google-white);
    padding: 10px;
}

p:nth-of-type(1){
    margin-top: 100px ;
}

p {
    background: var(--google-blue);
    border: 3px solid var(--google-black);
    padding: 10px;
    margin: 10px;
}


span {
    background: var(--google-red);
    border: 1px solid var(--google-black);
}








