:root {
    --dark-pink: #8B008B;
    --saturated-pink: #FF1493;
    --light-pink: #C71585;
}

#lighter{
    fill: var(--light-pink);
}

#darker{
    fill: var(--dark-pink);
}

#dark-pink, #saturated-pink, #light-pink{
    transition: all 1s ease;
}

#lighter{
    transform: translateX(-100%);
}

svg:hover{
    
}