:root {
    --dark-pink: #8B008B;
    --saturated-pink: #FF1493;
    --light-pink: #C71585;
}

#light-pink{
    fill: var(--light-pink);
}

#dark-pink{
    fill: var(--dark-pink);
}

#saturated-pink{
    fill: var(--saturated-pink);
}

#dark-pink, #saturated-pink, #light-pink{
    transition: all 1s ease;
}



svg:hover #dark-pink{
    transform: translateX(17%);
}

svg:hover #saturated-pink{
    transform: translateX(-17%);
}