:root{
    --g-100 : #99e550;
    --g-200: #88c947;
    --g-300: #71bf43;
    --g-400: #5dad3d;
    --g-500: #50ad4e;
    --g-600: #428c58;
    --g-700: #356e4e;

    --b-100:#c3c3c3;
    --b-200:#acacac;
    --b-300:#898989;
    --b-400:#747474;
    --b-500:#5a5a5a;
    --b-600:#454545;
    --b-700:#1c1c1c;
}
