:root{
    --p-100 : #6950e5;
    --p-200: #8847c9;
    --p-300: #7143bf;
    --p-400: #5d3dad;
    --p-500: #504ead;
    --p-600: #42588c;
    --p-700: #354e6e;

    --b-100:#d0d0d0;
    --b-200:#acacac;
    --b-300:#898989;
    --b-400:#747474;
    --b-500:#5a5a5a;
    --b-600:#454545;
    --b-700:#1c1c1c;

    --s-100:#b8bee0;
    --s-200:#adb5e0;
    --s-300:#99a3e0;
    --s-400:#8d9ae0;
    --s-500:#8290e0;
    --s-600:#7585e0;
    --s-700:#6c7de0;
    --s-800:#5b6ee1;

}
