:root{
    --g-100 : #6950e5;
    --g-200: #8847c9;
    --g-300: #7143bf;
    --g-400: #5d3dad;
    --g-500: #504ead;
    --g-600: #42588c;
    --g-700: #354e6e;

    --b-100:#c3c3c3;
    --b-200:#acacac;
    --b-300:#898989;
    --b-400:#747474;
    --b-500:#5a5a5a;
    --b-600:#454545;
    --b-700:#1c1c1c;
}
