@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.subscription{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: v.$primary-color;
    form{
        max-width: 1920px;
        margin: 0 auto;
        input{
            border: none;
        }
        button{
                            //padding: 16px 20px;
            background-color: v.$accent-color;
            color: #FFFFFF;
            border: none;
            font-weight: 700;
            font-size: 20px;
            //width: 50%;
        }

    }
}