@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.subscription{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: v.$secondary-color;
    form{
        margin: 0 auto;
        button{
                            //padding: 16px 20px;
            background-color: v.$accent-color;
            color: #FFFFFF;
            border: none;
            font-weight: 700;
            font-size: 20px;
            width: 50%;
        }

    }
}