body{
    margin: 0;
}

.pre-header{
    display: flex;
    background-color: rgba(36, 36, 36, 1);
    height: 3.1 em;
    align-items: center;
}

.pre-header a{
    color: #ffffff;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
}

.left{
    justify-self: flex-start;
}

.right{
    justify-self: flex-end;
    margin-top: 3.1em;
}

.header{
    display: flex;
}

.search-box{
    display: flex;
    align-items: center;
    overflow: hidden;
}

#product-search{
    flex: 1;
    padding: .75em 1em;
    background-color: #f3f6f9;
    border: none;
    outline: none;
}

.search-btn{
    border: none;
    background-color: #f3f6f9;
    padding: 5px 16px
}

.cart{
    font-size: 1.75em;
    font-weight: 700px;
}



