body{
    margin: 0;
}

.pre-header{
    display: flex;
    background-color: rgba(36, 36, 36, 1);
    /* height: 3.1 em; */
}

.pre-header a{
    color: #ffffff;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
}

.left{
    justify-self: flex-start;
}

.right{
    justify-self: flex-end;
}



