body{
    margin: 0;
}

.pre-header{
    display: flex;
    background-color: rgba(36, 36, 36, 1);
    height: 3.1 em;
    align-items: center;
}

.pre-header a{
    color: #ffffff;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
}

.left{
    justify-self: flex-start;
}

.right{
    justify-self: flex-end;
    margin-top: 3.1em;
}

.header{
    display: flex;
}

.search-box{
    display: flex;
    align-items: center;
    background-color: #bbbbbb;
}



