@import 'variables';
@import 'mixins';
@import 'reset';

.tabs{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    &__item{
        .content{
            display: none;
        }
        &--active{
            .title{
                text-decoration: underline;
            }
            .content{
                display: block;
                padding: 10px 20px;
                position: absolute;
                top: 60px;
                left: 0;
            }

        }
    }
}




