@import 'variables';
@import 'mixins';
@import 'reset';

.tabs{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .hidden{
        .tab-content{
            display: none;
        }
    }

    .active{
        text-decoration: underline;
        .tab-content{
            position: absolute;
            top: 60px;
            left: 0;
        }
    }
}




