@import 'variables';
@import 'mixins';
@import 'reset';

.tabs{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .tab{
        &--hidden{
            .tab-content{
                display: none;
            }
        }
        &--active{
            .tab-content{
                position: absolute;
                top: 60px;
                left: 0;
            }

        }
    }
}




