.container{
    
    &-title{
        @include flex(center, center);
        margin-bottom: 15px;
        .title{
            @include font(22px, 700);
        }
    }
    &-description{
        @include flex(center, center);
        margin-bottom: 30px;
        .text{
            opacity: .3;
        }
    }

}