:root{
    --abbacus-darlington-white: rgb(172, 202, 178);
    --bees-wax: #595082;
    --abbacus-dark-purple-black:#2c263f;
    --abbacus-hunter-green-green: #41644a;
    --abbacus-dark-green-green: #213722;
}