:root{
    --google-black : #1d1f21;
    --google-white: #c5c8c6;
    --google-red: #cc342b;
    --google-green: #198844;
    --google-yellow: #fba922;
    --google-blue: #3971ed;
    --google-magenta: #a36ac7;
    --google-cyan: #3971ed;
}

body{
    background-color: var(--google-white);
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

header, footer {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--google-blue);
    color: var(--google-white);
    text-align: center;
}

aside{
    border-right: 1px solid var(--google-blue);
}

header{
    grid-column: -1 / -2;
    grid-row: 1;
}

main{
    grid-column: 2;
    grid-row: 2;
}

aside{
    grid-column: 1;
    grid-row: 2;
}
footer{
    grid-column: 1 / 3;
    grid-row: 3;
}

