:root{
    --google-black : #1d1f21;
    --google-white: #c5c8c6;
    --google-red: #cc342b;
    --google-green: #198844;
    --google-yellow: #fba922;
    --google-blue: #3971ed;
    --google-magenta: #a36ac7;
    --google-cyan: #3971ed;
}

body{
    background-color: var(--google-white);
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr) ;
    gap: 5px;
}

.grid-box > div{
    color: var(--google-black);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--google-blue);
    border: 2px solid var(--google-black);
}

