body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 40px;
}

header{
    font-size: 24px;
    border: 2px solid;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    border: 2px solid;
}

.nav-bar ul li{
    margin-right: 10px;
}

.side-bar ul{
    display: flex;
    flex-flow: column;
    list-style: none;
}

