body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 40px;
}

header{
    font-size: 24px;
    border: 2px solid;
}

.nav-bar ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    border: 2px solid;
    margin-bottom: 40px;
}

.nav-bar ul li{
    margin-right: 10px;
    
}

.side-bar ul li:first-child{

    
}

.main-content{
    display: grid;
    grid-template-columns: minmax(240px, 1fr) 2fr;
}

.side-bar{
    border: 2px solid;
}
.side-bar ul{
    display: flex;
    flex-flow: column wrap;
    list-style: none;

}

.side-bar ul li{
    margin: 2px;
    
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: repeat(auto-fit, minmax(120px, 1fr));
    gap: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.main div{
    border: 2px solid;
    padding: 5px;
}

.main div p{
    font-size: 12px;
}

.main div img{
    display: block;
    margin: 10px 20px;
}

.footer{
    background-color: gainsboro;
    margin-left: -40px;
    margin-right: -40px;
}
