:root{
    --google-black : #1d1f21;
    --google-white: #c5c8c6;
    --google-red: #cc342b;
    --google-green: #198844;
    --google-yellow: #fba922;
    --google-blue: #3971ed;
    --google-magenta: #a36ac7;
}

body{
    background-color: whitesmoke;
    margin: auto;
}

header{
    font-size: 32px;
    background-color: var(--google-white);
    text-align: center;
    margin-bottom: -24px;
    padding: 15px;
    
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /*border: 2px solid var(--google-black);*/
    zoom: 1.5;
    margin-left: -20px;
    background-color: var(--google-blue);
    list-style: none;
}

nav ul li{
    flex: 1 100px;
}
















