:root{
    --google-black : #1d1f21;
    --google-white: #c5c8c6;
    --google-red: #cc342b;
    --google-green: #198844;
    --google-yellow: #fba922;
    --google-blue: #3971ed;
    --google-magenta: #a36ac7;
}

body{
    background-color: var(--google-white);
    margin: 10px auto;
}


.container{
    display: flex;
    height: 100%;
    border: 2px dotted var(--google-black);
    justify-content: space-between;
}


.child{
    padding: 40px;
    border: 2px solid var(--google-black); 
}









