@use 'mixins';

.restaraunt{
    &-block{
        margin-bottom: 20px;
    }
    &-title{

    }
    &-text{
        font-size: 24px;
    }
    .title{
        font-size: 32px;
        font-weight: 700;
    }
    
    .text{
        margin-top: 20px;
    }
}
