//RESTAURANT

.restaurant-block{
    margin-top: 40px;
}

.restaurant-title{
    .title{
        @include font(32px, 700, 1.2)
    }
}

.restaurant-image{
    width: 100%;
    height: auto;
    display: block;
}