@use 'mixins';

.restaraunt{
    &-block{
        margin-bottom: 20px;
    }
    &-title{

    }
    &-text{
        font-size: 24px;
    }
    &-list{
        
    }
    .title{
        font-size: 32px;
        font-weight: 700;
    }
    
    .text{
        margin-top: 20px;
    }

    .item{
        +.item{
            margin-top: 10px;
        }
    }

    .separator{
        width: 100%;
        height: 2px;
        background-color: #00000044;
    }
}
