@import url('/colors.css');

body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--abbey-uv-purple);
    padding: 40px;
    font-size: 14px;
}

.main-header{
    border: 2px solid;
    text-align: center;
    background-color: var(--abbey-saffron-yellow);
}

.nav-bar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: -40px;
}

.home-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, auto-fit);
    gap: 20px;
}


.project-main section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, auto-fit);
    gap: 20px;
}

.article-main section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(300px, auto-fit);
    gap: 20px;
}

.contact-main section article{
    border: 2px solid;
    padding: 20px;
    background-color: var(--abbey-saffron-yellow);
}

.home-main section{
    border: 2px solid;
    padding: 10px;
    background-color: var(--abbey-saffron-yellow);
}


.project-main section article{
    border: 2px solid;
    padding: 20px;
    background-color: var(--abbey-saffron-yellow);
}

.article-main section article{
    border: 2px solid;
    padding: 20px;
    background-color: var(--abbey-saffron-yellow);
}



footer{
    margin-top: 20px;
    font-size: 0.75rem;
    background-color: var(--abbey-hunter-green-green);
}

footer nav{
    display: flex;
    flex-wrap: flow-wrap;
    border: 2px solid;
    padding: 0 40px 0;
}

footer nav ul{
    list-style: none;
    margin-left: -40px;
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: #1d1f21
}

article ul li{
    list-style: square;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: 5px solid;
}

input,textarea,button{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    border: none;
    margin: 5px;
}


.form-grid{
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px){
    .nav-bar ul{
        /* display: flex; */
        flex-direction: column;
        gap: 5px;
        /* list-style: none;
        margin-left: -40px; */
    }

    footer nav{
        /* display: flex; */
        flex-direction: column;
        /* flex-wrap: flow-wrap;
        border: 2px solid;
        padding: 0 40px 0; */
    }
}






