@use '../utils/variables' as v;

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.75rem;
}

h5{
    font-size: 1.5rem;
}

h6{
    font-size: 1.25rem;
}

body{

    display: flex;
    flex-direction: column;
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}