
.container{
    display: grid;
    grid-template-rows: 8em 1fr 5em;
    /* border: .1em solid black; */
}

.container-header{
    text-align: center;
}

.data ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(auto-fit, auto); */
    text-align: center;
    /* border: .1em solid black; */

}

.date{
    border-right: .1em solid black;
    list-style: none;
    margin-left: 0px ;
}

.status{
    margin-left: 10px;
    list-style-position: outside;
    z-index: 2;
}

.btn{
    text-align: center;
    border: .1em solid black;
    border-radius: 1em;
    padding: .5em;
    margin: auto;
    background-color: #000000;
    color: #ffffff;
}




