body{
    border: 2px solid black;
}

.container{
    display: grid;
    grid-template-rows: 8em 1fr;
    border: 2px solid black;
}

.records{
    border: 2px solid black;
}
.meta-info{
    text-align: center;
    border: 2px solid black;
}

.records ul{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}
