body{
    border: .1em solid black;
}

.container{
    display: grid;
    grid-template-rows: 8em 1fr 8em;
    border: .1em solid black;
}

.container-header{
    text-align: center;
}

.data ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    /* border: .1em solid black; */

}

.date{
    border-right: .1em solid black;
    list-style: none;
}

.status{
    margin-left: 10px;
}



