body{
    border: 2px solid black;
}

.container{
    display: grid;
    grid-template-rows: 8em 1fr;
    border: 2px solid black;
}

.records{
    border: 2px solid black;
}
.meta-info{
    text-align: center;
    border: 2px solid black;
}

.records{
    display: flex;
    flex-direction: column;
}

.record{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
