.container{
    display: grid;
    grid-template-rows: 8em 1fr;
    border: 2px solid black;
}

.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.meta-info{
    text-align: center;
    border: 2px solid black;
}

.record{
    display: flex;

}