.gallery{
	position: relative;
	z-index: 900;
	background-color: $color-gray-lite;
	padding-top: 60px;
	
	&-item{
		padding-top: 120px;
	}
	
	.image{
		width: 100%;
		img{
			display: block;
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

}

.gallery-header{
	@include flex(center, center);
	background-color: $color-gray-lite;
	.title{
		@include font(40px, 700);
	}
}

.gallery-projection{
	background-color: $color-gray-lite;
	.container{
	
	}
	
	.gallery-grid-projection{
	
	}
}

.gallery-description{
	width: 590px ;
	.btn{
		@include font(20px, 600);
		margin-top: 20px;
	}
	
	.gallery-title{
		margin-bottom: 15px;
		.title{
			@include font(40px, 700);
		}
	}
	
	.gallery-text{
		.text{
			@include font(16px, null, 1.6);
		}
	}
}

.gallery-grid-projection{
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 20px;
	
	.gallery-grid-left{
		display: grid;
		gap: 25px;
		grid-template-rows: repeat(2, auto);
	}
	.gallery-grid-right{
		display: grid;
		grid-template-rows: repeat(2, auto);
		gap: 20px;
	}
	
	.grid-bottom-right{
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: 20px;
	}
}


.gallery-ventilation{
	background-color: $color-white;
}

.gallery-grid-ventilation{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	
	.gallery-grid-left{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		&-left{
			display: grid;
			grid-template-rows: 492px 1fr;
			gap: 20px;
		}
		
		&-right{
			display: grid;
			grid-template-rows: 235px 1fr;
			gap: 20px;
		}
	}
	
	.gallery-grid-right{
		display: grid;
		grid-template-rows: repeat(2, auto);
		gap: 20px;
		
		&-bottom{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
			
			&-left{
				display: grid;
				grid-template-rows: repeat(2, 212px);
				gap: 20px;
			}
		}
	}
}

.gallery-conditioning{

}

.gallery-grid-conditioning{
	display: grid;
	grid-template-columns: 741px 1fr;
	gap: 20px;
	
	.gallery-grid-left{
		display: grid;
		grid-template-rows: 250px 1fr;
		gap: 20px;
		
		&-bottom{
			display: grid;
			gap: 20px;
			grid-template-columns: 308px 1fr;
			&-left{
				display: grid;
				gap: 20px;
			}
		}
	}
	
	.gallery-grid-right{
		display: grid;
		grid-template-rows: repeat(2, auto);
		gap: 20px;
		
		&-bottom{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
			
			&-left{
				display: grid;
				grid-template-rows: repeat(2, 212px);
				gap: 20px;
			}
		}
	}
}

.gallery-wetting{
	background-color: $color-white;
}

.gallery-grid-wetting{
	display: grid;
	grid-template-columns: 635px 1fr;
	gap: 20px;
	
	.gallery-grid-left{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		
		&-left{
			display: grid;
			grid-template-rows: 487px 1fr;
			gap: 20px;
		}
		
		&-right{
			display: grid;
			grid-template-rows: 232px 1fr;
			gap: 20px;
		}
	}
	
	.gallery-grid-right{
		display: grid;
		grid-template-rows: repeat(2, auto);
		gap: 20px;
		
		&-bottom{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
			
			&-left{
				display: grid;
				grid-template-rows: repeat(2, 212px);
				gap: 20px;
			}
		}
	}
}



