@use '../utils/variables' as v;
@use '../utils/mixins' as m;

footer{
    background-color: v.$secondary-color;
    .footer{
        padding: 60px;
        display: flex;
        flex-direction: column;
        .footer-top{
            .logo{
                display: flex;
                gap: 14px;
                .logo-text{
                    font-size: 35px;
                    color: v.$primary-color;
                    font-weight: 700;
                }
            }
        }
    }
}