@use '../utils/variables' as v;
@use '../utils/mixins' as m;

footer{
    background-color: v.$secondary-color;
    .footer{
        display: flex;
        flex-direction: column;
        .logo{
            display: inline;
        }

    }
}