@use '../utils/variables' as v;
@use '../utils/mixins' as m;

footer{
    background-color: v.$secondary-color;
    .footer{
        padding: 60px;
        display: flex;
        flex-direction: column;
        .footer-top{
            padding: 20px;
            flex: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid black;
            .logo{
                display: flex;
                gap: 14px;
                .logo-text{
                    font-size: 35px;
                    color: v.$primary-color;
                    font-weight: 700;
                }
            }
            .footer-top-nav{
                ul{
                    color: #FFF;
                    display: flex;
                    gap: 10px;
                }
            }

        }
        .footer-bottom{
            .footer-bottom-nav{
                display: flex;
                gap: 10px;
                color: #FFF;
            }
        }
    }
}