

header{
    text-align: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    gap: 15px;
    list-style-position: inside;
}

nav ul li{
    flex-grow: 1;
    /* flex-basis: 1em; */
    background: linear-gradient(white, gray);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 1em;
    text-align: center;
}

