// @use 'bootstrap/scss/bootstrap';
// @use 'bootstrap-icons/font/bootstrap-icons.css';
@use 'base/reset';
@use 'components/preheader';
@use 'components/header';
@use 'components/searchbox';
@use 'components/category_slider';
@use 'components/navbar';
@use 'components/offer';
@use 'vendors/owl/owl.carousel';



.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}

// html{
//     background-image: url(../img/Главная.png);
//     background-position: center;
// }







// /* feature */

// /* Auto layout */
// display: flex;
// flex-direction: column;
// align-items: flex-start;
// padding: 0px;
// gap: 12px;

// width: 300px;
// height: 135px;


// /* Inside auto layout */
// flex: none;
// order: 0;
// flex-grow: 0;

.features{
    margin: 0 -10rem;
    background-color: #F3F6F9;
    .feature--list{
        display: flex;
        list-style: none;
        padding: 60px 10rem;
        gap: 12px;
        .feature{
            display: flex;
            gap: 12px;
            padding: 0;
            flex: 1;
            .feature--icon{
                align-self: flex-start;
            }
            .feature--content{
                display: flex;
                flex-direction: column;
                .feature--header{
                    align-self: flex-start;
                    font-weight: 500;
                    font-size: 20px;
                    margin: 0px;
                }
                .feature--description{
                    font-weight: 300;
                    line-height: 1.6;
                    font-size: 16px;
                    line-height: 160%;
                }
            }
        }
    }
}