@import url('colors.css');

body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--abbey-uv-purple);
    padding: 40px;
}

/* nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
} */




