@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.offer-container{
    .offer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: v.$primary-color;

        // margin-bottom: 120px;
        .content{
            grid-column: 1 / 1;
            display: flex;
            flex-direction: column;
            margin: 58px 0 87px 95px;
            .content__header{
                font-weight: 700;
                font-size: 44px;
                padding-right: 55px;
                margin-bottom: 18px;
                margin-top: 0;
            }
            .content__description{
                font-weight: 300;
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 30px;
            }
            .content__button{
                padding: 16px 20px;
                background-color: #B71B34;
                color: #FFFFFF;
                border: none;
                font-weight: 700;
                font-size: 20px;
                width: 50%;
            }
        }
    }
}