@use '../utils/variables' as v;
@use '../utils/mixins' as m;


.pre-header-container{
    width: 100%;
    background-color: v.$secondary-color;
    margin: 0 auto;
    .pre-header {
        max-width: 1920px;
        @include m.hflex;
        padding: 1rem 4rem;
        font-weight: 300;
        margin: 0 auto;
        z-index: 100;
        @media (max-width: v.$mobile-bp){
            padding: 1rem 1rem;
            flex-direction: row-reverse;
        }

        &__left{
            @include m.hflex(40px);
            @media (max-width: v.$mobile-bp){
                display: none;
            }
        }
        &__right{
            @include m.hflex(40px);
            .login{
                @include m.hflex(40px);
            }
            .register-profile{
                @include m.hflex(20px);
            }
        }
    }
}

