@use '../utils/variables' as v;
@use '../utils/mixins' as m;


.pre-header-container{
    background-color: v.$secondary-color;
    width: 100%;
    .pre-header {
        max-width: 1920px;
        margin: 0 auto;
        @include m.hflex;
        padding: 1rem 4em;
        font-weight: 300;
        @media (max-width: v.$mobile-bp){
            padding: 1rem 1rem;
        }
        .mobile-menu{
            display: none;
            @media (max-width: v.$mobile-bp){
                display: block;
                cursor: pointer;
                background: transparent;
                border: none;
            }
        }

        &__left{
            @include m.hflex(40px);
            @media (max-width: v.$mobile-bp){
                display: none;
            }
        }
        &__right{
            @include m.hflex(40px);
            .login{
                @include m.hflex(40px);
            }
            .register-profile{
                @include m.hflex(20px);
            }
        }
    }
}

