@import "variables";

.pre-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15rem;
    background-color: #242424;
    margin-left: -15rem;
    margin-right: -15rem;
    font-weight: 300;

    .pre-header__left{
        display: flex;
        gap: 40px;
    }
    .pre-header__right{
        display: flex;
        gap: 40px;
        .login{
            display: flex;
            align-items: center;
        }
        .register-profile{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    a{
        text-decoration: none;
        color: #fff;
    }
}