.product-slider{
    background-color: aqua;
    .owl-carousel{
        .product-item{
            .product-data{
                .stars{
                    color: yellow;
                }
            }
        }
    }
}