@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.product-slider{
    .owl-carousel{
        .product-item{
            .product-data{
                display: flex;
                justify-content: space-between;
            }
            .product-buttons{
                display: flex;
                justify-content: space-between;
                    .catalog-button{
                        //padding: 16px 20px;
                        background-color: v.$accent-color;
                        color: #FFFFFF;
                        border: none;
                        font-weight: 700;
                        font-size: 20px;
                        width: 50%;
                    }

            }
        }
    }
}