.product-slider{
    .owl-carousel{
        .product-item{
            .product-data{
                display: flex;
                .stars{
                    color: yellow;
                }
            }
        }
    }
}