.product-slider{
    .owl-carousel{
        .product-item{
            .product-data{
                display: flex;
                justify-content: space-between;
            }
            .product-buttons{
                
            }
        }
    }
}