@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.product-slider{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    &__header{
        margin: 0 0 30px 4rem;
    }
    .owl-carousel{
        .product-item{
            border: 1px solid v.$card-border;
            padding: 20px;
            .product-image{
                width: 100%;
                height: 200px;
                object-fit: contain;
                margin-bottom: 15px;
            }
            .product-data{
                display: flex;
                justify-content: space-between;
                .product-is-available{
                    font-size: 12px;
                    font-weight: 500;
                }
            }
            .product-buttons{
                display: flex;
                justify-content: space-between;
                .catalog-button{
                        //padding: 16px 20px;
                    background-color: v.$accent-color;
                    color: #FFFFFF;
                    border: none;
                    font-weight: 700;
                    font-size: 20px;
                    width: 50%;
                }
                .right-buttons{
                    display: flex;
                    gap: 15px;
                }
            }
        }
    }
}