@import url('colors.css');

body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: var(--anderson-darlington-white);
    padding: 40px;
}

.general-info{
    padding: 5px;
}

.contact-info{
    padding: 5px;
}

.subinfo{
    margin-top: -15px;
    color: var(--abbacus-caffe-latter-gray);
}

.link{
    text-decoration: none;
    color: black;
}

.u-list{
    list-style: square;
}

.mts-logo{
    display: inline;
}



