@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font($fs: null, $fw: null, $lh: null, $c: null, $ff: null) {
	@if $ff != null {font-family: $ff;}
	@if $fs != null {font-size: $fs;}
	@if $fw != null {font-weight: $fw;}
	@if $lh != null {line-height: $lh;}
	@if $c != null {color: $c;}
}
