.navigation{
    background-color: #242424;
    padding: 10px 70px;    
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;
        color: #F3F6F9;
        li{
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        li::after{
            content: '';
            display: inline-block;
            margin-left: 8px;
            width: 9px;
            height: 6px;

            background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6L0 0L9 8.25931e-07L4.5 6Z' fill='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    
}