
header{
    text-align: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    overflow-inline: scroll ;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
    gap: 15px;
    list-style-position: inside;
}

nav ul li{
    flex-grow: 1;
    /* flex-basis: 1em; */
    background: linear-gradient(white, gray);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 1em;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

.container article{
    background: linear-gradient(gray, white);
    border-radius: 1em;
}

@media (max-width: 600px){
    .container{
        display: flex;
        overflow-inline: scroll;
    }
    .container article{
        padding: 1em;
    }
}

